
.set-eye{
    position: relative;
}

.bi-eye-slash-fill, .bi-eye-fill{
    position: absolute;
    top: 48px;
    right: 21px;
}

a{
    color: #185adb !important;
}

.color-axtrix{
    color: #185adb;
}

.btn-primary {
    color: #fff;
    background-color: #185adb !important;
    border-color: #185adb !important;
}

.errorlist {
    list-style: none;
    color: red;
}

.error{
    color: red;
}

/* media queries */
@media screen and (max-width: 480px){
    .left-heading{
        text-align: center;
    }
}